<table class="table table-bordered" style="table-layout: fixed">
  <thead>
    <tr class="table-primary">
      <th scope="col">Order Number</th>
      <th scope="col">Product</th>
      <th scope="col">Bottone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ order._id }}</th>
      <table>
        <tr>
          <td>Name: {{ order.product.name }}</td>
        </tr>
        <tr>
          <td>Price: {{ order.product.price  | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>Qty: {{ order.product.qty }}</td>
        </tr>
      </table>
      <td></td>
    </tr>
  </tbody>
</table>

Visualizzazione da parte mercante.
Bottone elimina ordine.