/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.product-btn {
  font-size: small;
}

.create-order {
  font-size: small;
}

.bi-cart-plus {
  font-size: larger;
}

.guest-form-card h2{
  text-transform: uppercase;
  font-size: large;
}

.guest-form-card label{
  font-size: small;
}

.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
}

.spanError {
  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
